 /* Import custom font */
 @font-face {
   font-family: 'MovementDirectThin';
   src: url('../fonts/Movement-DirectThin.woff2') format('woff2'),
     url('../fonts/Movement-DirectThin.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
 }

 body,
 html {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
 }

 /*---------------- home page css-------------------- */
 /* header css */

 .navbar {
   position: absolute;
   width: 100%;
   z-index: 10;
 }

 .navbar-brand {
   font-weight: bold;
   color: white;
 }

 .navbar-nav .nav-link {
   color: white !important;
 }


 .navbar .nav-link {
   color: white !important;
   position: relative;
   text-decoration: none;
   transition: color 0.3s ease;
 }

 
 .navbar .nav-link:hover {
   color: #F8E928 !important;
 }

 .navbar .nav-link:hover::after {
   content: '';
   position: absolute;
   bottom: -4px;
   left: 50%;
   transform: translateX(-50%);
   width: 43px;
   height: 4px;
   background-color: #F8E928;
 }

 
 .navbar .nav-link.active {
   color: #F8E928 !important;
 }

 .navbar .nav-link.active::after {
   content: '';
   position: absolute;
   bottom: -4px;
   left: 50%;
   transform: translateX(-50%);
   width: 43px;
   height: 4px;
   background-color: #F8E928;
 }

.navbar-nav .nav-item {
   margin-right: 2rem;
 }

/* hero section css */

 .hero-section {
   position: relative;
   background-size: cover;
   background-position: center;
   min-height: 100vh;
   color: white;
   display: flex;
   align-items: center;
 }

 .overlay {
   background: rgba(0, 0, 0, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }

 .hero-content {
   position: relative;
   z-index: 2;
 }

 .hero-title {
   font-size: 123px;
   font-weight: 300;
   font-family: 'MovementDirectThin', sans-serif;
   color: #fff;

 }

 .first-line {
   display: flex;
   align-items: center;

 }

 .second-line {
   margin-top: -40px;
  

 }

 .hero-icon {
   width: 195px;
   height: 195px;
   flex-shrink: 0;
 }



 .btn-yellow {
   background-color: #fcdc00;
   color: #000;
   border: none;
 }

 .black-btn {
   width: 100%;
   max-width: 210px;
   max-height: 53px;
   font-size: 13px;
   font-weight: bold;
   letter-spacing: 3px;
   text-transform: uppercase;
   background-color: black;
   color: #F8E928;
   border: none;
   border-radius: 0px;
   transition: background-color 0.3s ease;
 }

 .yellow-btn {
   width: 100%;
   max-width: 210px;
   max-height: 53px;
   font-size: 13px;
   font-weight: bold;
   letter-spacing: 3px;
   text-transform: uppercase;
   background-color: #F8E928;
   color: black;
   border: none;
   border-radius: 0px;
   transition: background-color 0.3s ease;
 }

 /* Footer */
.footer {
  background-color: #000;
  color: #aaa;
  padding: 60px 0 200px 0;
  font-size: 14px;
}

.footer .logo {
  font-weight: bold;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;      /* Ensures logo is aligned left */
  margin-left: 5px;
}

.footer .logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer .footer-links a {
  
  color: #666666;
  text-decoration: none;
  display: block;
  margin-bottom: 16px; /* Increased from 10px for more gap */
  transition: color 0.3s ease;


}

.footer .footer-links a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.partner-logos {
  margin-top: 30px;
  margin-left: 43px;
  gap: 35px; /* Increase the gap between logos */ 
}

.partner-logos img {
  height: 49px;
 
}


.logo-bottom{
  font-size: 16px;
  color: #666666;
  margin-left: 42px;
}

 














/*--------- contact css start------------ */

.hero-section-contact {
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 120vh;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
  display: flex;
  align-items: center;
}


.contact-info-boxes {
  gap: 5px;
}

.info-box {
 flex: 1 1 45%;
  background: rgba(0, 0, 0, 0.5); /* transparent black */
  padding: 20px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px;
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
}

.info-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}


.form-control {
    display: block;
    width: 100%;
    max-width: 636px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0px ;
   
}





/* privacy css start */
.hero-section-privacy {
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 65vh; /* Half the screen height */
  color: white;
  display: flex;
  align-items: center;
}
